body {
    background-color: #eee;
}

section {
    margin-top: 2rem;
    margin-left: 2rem;
}

.addressList {
    display: flex;
    margin-top: 10px;
}

.item {
    min-width: 200px;
}

.title {
    display: flex;
    font-weight: bold;
    margin-top: 10px;
}

.addressInputBlock {
    display: flex;
}

.name {
    min-width: 180px;
    margin-right: 15px;
}

.city {
    min-width: 180px;
    margin-right: 15px;
}

.addButton {
    height: 25px;
}
